.button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 5px 10px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
.button:hover {
    border-color: #646cff;
}

.button__delete {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    font-size: 0.75rem;    
}